<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% if page_briefing %}{{ page_briefing }}{% else %}{{ site_briefing }}{% endif %}"/>
    <meta name="keywords" content="{% if page_tags %} {{ page_tags|join(', ') }}{% endif %}" />

    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <link href="/pygments.css" rel="stylesheet">

    <style>
      pre{
        background: #eee;
        padding:1em;
      }
    </style>
  </head>
  <body>
    <nav class="navbar">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">{{ site_title }}</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if site_links %}
                {% for title, link in site_links.items() %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
            {% endif %}
          </ul>
      </div>
    </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <hr />
    <footer>
      <div class="container">
        <div class="row text-center">
          {% if site_footer_links %}
          <strong>See also</strong>
            <ul>
              {% for title, link in site_footer_links.iteritems() %}
                  <li><a href="{{ link }}">{{ title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <p class="text-center"><small>{{ site_url }} &copy; 2020</small></p>
      </div>
    </footer>
  </body>
</html>
