{% extends "base.html" %}

{% block title %} {{ site_title }} - Martin Kirchgessner{% endblock %}

{% block content %}
    {% if page_title != site_title %}
    <header class="container">
        <h1>{{ page_title }}</h1>
        <p>{{ page_brefing }}</p>
    </header>
    {% endif %}
    {% for item in page_items %}
        <section class="container">
            <h3><a href="/{{ item['page_url'] }}">{{ item['page_title'] }}</a></h3>
            <small>
                {% for tag in item['page_tags'] %}
                    <a href="/tag/{{ tag|replace(' ', '-') }}.html">
                        <span class="label label-default">{{ tag }}</span></a>
                {% endfor %}
            </small>
            <p>{{ item['page_briefing'] }}</p>
        </section>
    {% endfor %}

      {% if total_pages > 0 %}
      <section class="container">
          Page:
        {% for page in range(total_pages) %}
            {% if page_number == page %}
                {{ page_number }}
            {% else %}
                {% if tag %}
                    <a href="/tag/{{ tag }}/page{{ page }}.html">{{ page }}</a>
                {% else %}
                    <a href="/page{{ page }}.html">{{ page }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
        <hr/>
      </section>
      {% endif %}
{% endblock %}
