{% extends "base.html" %}

{% block title %} {{ page_title }} {% endblock %}

{% block content %}
<header class="container">
  <h1>{{ page_title }}</h1>
  {% if page_brefing %}<p>{{ page_brefing }}</p>{% endif %}
  {% if page_date %}
  <p style="float:right">{{ page_author }}, {{ page_date }}</p>
  {% endif %}
  <p>
    Tags : 
    {% for tag in page_tags %}
    <a href="/tag/{{ tag|replace(' ', '-') }}.html">{{ tag }}</a>&nbsp;
    {% endfor %}
  </p>
  <hr style="clear:both;"/>
</header>

<section class="container">
  {{ page_content }}
</section>
{% endblock %}
